table {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  border-spacing: 0;
}

tbody {
  white-space: nowrap;
}

td {
  border: 1px solid #999;
  padding: 0.5rem;
  min-width: 100px;
}

tr {
  height: 50px;
}

#table-wrapper {
  width: 100%;
  height: 100%;
}
