#pitch {
  display: block;
  position: absolute;
  width: 1200px;
  height: 800px;
  background-image: url("/public/fieldbg.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#pitch-grid {
  position: relative;
  left: 170px;
  top: 50px;
}
